html {
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px | 1 rem = 10px  */
    box-sizing: border-box; /*Aplicar correctamente box-sizing*/
}
*, *:before, *:after { /*Aplicar correctamente box-sizing*/
    box-sizing: inherit; /*Aplicar correctamente box-sizing*/
}

body {
    font-family: 'Open Sans', sans-serif; /*Establecimos el tipo de fuente para todo el documento*/
    font-size: 1.6rem; /*Para establecer un tamaño estandar a todo el font-size del documento;*/
    line-height: 2; /*Para establecer el interlineado*/
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- Globales -!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
img {
    max-width: 100%; /* Para ajustar las imagenes al contenedor padre*/
}

/*---------------utilidades-----------------*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.on-hover:hover {
    color: rgb(160, 182, 204);
}
.fw-400 {
    font-weight: 400;
}

/*grid*/
@media (min-width:769px) {  /*---------------mobile-first: 769px-----------------*/
    .grid {
        display: flex;
        justify-content: space-between;
        /*para apilar el contenido del flex cuando un elemento toma el 100%*/
        flex-wrap: wrap; /*solo se aplica cuando un elemento toma el flex-basis de 100%*/
    }
    .centrar-columnas {
       justify-content: center; 
    }
    /*sistema de 12 columnas*/
    .columnas-4 {
        flex-basis: calc(33.3% - 1rem);
    }
    .columnas-6 {
        flex-basis: calc(50% - 1rem);
    }
    .columnas-8 {
        flex-basis: calc(66.6% - 1rem);
    }
    .columnas-10 {
        flex-basis: calc(83.33% - 1rem);
    }
    .columnas-12 {
        flex-basis: 100%;
    }

    /*Para que las images se acoplen al div*/
    .img-container { /*para que se muestre la imagen correctamente*/
        display: flex;
    }
    .img-container img { /*para que la imagen se muestre correctamente*/
        object-fit: cover; 
    }
}


/*---------Medidas estandar para titulos-----------*/
h1, h2, h3, h4 { /*Establecemos la fuente de los encabezados*/
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
    
}
h4 {
    font-size: 2.8rem;
}

/*------------- botones -----------------*/
.btn {
    display: block;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    flex-grow: 1; /*para que el input:submit ocupe todo el espacio de su contenedor flex*/
}
.btn-primario {
    background-color: #5B7A98 ;
}
.btn-primario:hover {
    background-color: rgb(58, 75, 92) ;
}
.btn-secundario {
    background-color: rgb(104, 209, 245);
}
.btn-secundario:hover {
    background-color: rgb(97, 194, 226);
}
@media (min-width:769px) {  /*---------------mobile-first: 769px-----------------*/
    .btn {
        display: inline-block;
        flex: 0; /*para que el input:submit se contraiga*/
    }
    .btn:hover {
        cursor: pointer;
    }
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- index.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*------------------------------------------------- Header --------------------------------------------------------*/
.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}
.barra {
    padding-top: 2rem;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}
.site-header a {
    color: #ffffff;
    text-decoration: none;
}
.site-header h1 {
    text-align: center;
    font-weight: 400;
}
.site-header h1 span {
    font-weight: 700;
}

/*--------------- navegacion-----------------*/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 1.8rem;
    font-weight: 900;
    padding-top: 2rem;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .navegacion a {
        display: inline;
        margin-right: 2rem;
        padding: 0;
    }
    .navegacion a:last-of-type {
        margin-right: 0;
    }
}

/*------------- texto-header -----------------*/
.texto-header{
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
    line-height: 1.2;
}
.texto-header h2 {
    margin-bottom: 2rem;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .texto-header {
        margin-top: 19rem;
    }
}
.texto-header p {
    font-size: 2.2rem;
}

/*------------------------------------------------ Contenido Principal ------------------------------------------------*/
.contenido-principal {
    display: flex;
    flex-direction: column-reverse;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .contenido-principal {
        flex-direction: row;
        /*para agregar separacion a los elementos*/
        justify-content: space-between;
    }
    .blog {
        /*para agregar separacion a los elementos*/
        flex-basis: calc(70% - 2rem); 
    }
    .cursos {
        line-height: 1.2; 
        /*para agregar separacion a los elementos*/
        flex-basis: calc(30% - 2rem);
    }
}

/*------------- Blog -----------------*/
.entrada-blog:not(:last-of-type) { /*Utilizamos la pseudo clase :not(:last-of-type) para que estos estilos no se apliquen al ultimo article*/
    margin-bottom: 3rem;
    border-bottom: 3px solid #e1e1e1;
}
.contenido-blog h3 {
    margin: 0;
}

/*------------- Cursos Sidebar -----------------*/
.cursos h2 {
    font-size: 3rem;
    margin: 5rem 0;
}
.cursos-lista {
    padding: 0;
    list-style: none;
}
.curso h4 {
    font-size: 2.6rem;
}
main .curso { /*se aplica en el cursos.html*/
    padding-top: 3rem;
}
.curso:not(:last-of-type) {
    padding-bottom: 3rem;
    border-bottom: 3px solid #e1e1e1;
}
.curso p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.curso p span,
.curso p.descripcion {
    font-weight: 400;
}


/*------------------------------------------------- Footer ------------------------------------------------------------*/
.site-footer {
    background-color: #000000;
    padding: 0em;
    margin-top: 7rem;
}
.site-footer .barra {
    padding: 0;
}
.site-footer .barra .navegacion {
    padding-bottom: 2rem;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .site-footer {
        padding: 3rem;
    }
    .site-footer .barra .navegacion {
        padding-bottom: 0;
    }
}
.site-footer p {
    text-align: center;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-size: 4rem;
    font-weight: 400;
}
.site-footer p span {
    font-weight: 700;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!- contacto.html - !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.formulario-contacto {
    background-color: #ffffff;
    padding: 5rem;
}
@media (min-width:769px) { /*---------------mobile-first: 769px-----------------*/
    .formulario-contacto {
        margin-top: -10rem; /*para que el formulario se superponga a la imagen*/
    }
}
.formulario-contacto .campo {  
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.formulario-contacto .campo label {
    flex-basis: 8rem;
}
.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto textarea {
    flex-grow: 1; /*para que los input y text area abarque todo el espacio restante*/
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 1rem;
}
.formulario-contacto .campo input:focus:not([type="submit"]),
.formulario-contacto textarea:focus {
    outline: none;
    border: 1px solid #00B8FF;
}
.formulario-contacto textarea {
    height: 20rem;
}
.formulario-contacto .campo.enviar {
    justify-content: flex-end; /*acomodamos el boton al final*/
}